/* Contents ------------------------------------------------------------------
	
	1= Header
	2=
	3= Footer
	
----------------------------------------------------------------------------*/
.container {
	margin: 0 auto;
	padding: 20px 0;
	width: 800px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearFix {
	clear: both;
}



/* 1= Header ---------------------------------------------------------------*/
#header {
	
}



/* 2= */



/* 3= Footer ---------------------------------------------------------------*/
#footer {
	font-size: 10px;
}